#pound {
    width: 700px;
    height: 700px;
    background: olive;

}

.box1 {
    width: 700px;
    height: 210px;
    background: silver;
}

.box2 {
    width: 100%;
    height: 70%;
    background: tomato;
    display: flex;
}

.small {
    width: 100%;
    height: 50%;
    display: flex;
}

.background1 {
    background: tomato
}

.background2 {
    background: brown
}

.box3 {
    width: 420px;
    height: 590px;
    background: blue;
}

.box4 {
    width: 280px;
    height: 590px;
    background: black;
}
.verysmall1{
    width: 33.3%;
    height: 100%;
    background: palevioletred;
}
.verysmall2{
    width: 33.3%;
    height: 100%;
    background:green;
}.verysmall3{
     width: 33.3%;
     height: 100%;
     background: yellow;
 }