#pound {
    width: 700px;
    height: 700px;
    background: olive;

}

.box1 {
    width: 700px;
    height: 210px;
    background: silver;
}

.box2 {
    width: 100%;
    height: 70%;
    background: tomato;
    display: flex;
}
.box3 {
    width: 420px;
    height: 590px;
    background: blue;
}

.box4 {
    width: 280px;
    height: 590px;
    background: black;
}